<!DOCTYPE html>
<html>
  <head>
    <title>MoneyManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <%= render partial: "layouts/navigation/bar" %>

    <%= yield %>

    <script>
      function toggleMobileMenu() {
        const mobileMenu = document.getElementById('mobile-menu');
        const button = document.querySelector('[aria-controls="mobile-menu"]');
        
        if (mobileMenu.classList.contains('hidden')) {
          mobileMenu.classList.remove('hidden');
          button.setAttribute('aria-expanded', 'true');
        } else {
          mobileMenu.classList.add('hidden');
          button.setAttribute('aria-expanded', 'false');
        }
      }
    </script>
  </body>
</html>
